@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Provide sufficient contrast against white background */

#root {
  @apply w-full min-h-screen;
}
.active-nav-link {
  @apply block py-2 pl-3 pr-4 bg-slate-700 rounded md:bg-transparent md:p-0 !text-sky-400 ;
}
.inactive-nav-link {
  @apply block py-2 pl-3 pr-4 text-white hover:!text-orange-400 rounded hover:bg-slate-600 md:hover:bg-transparent md:border-0 md:hover:text-slate-700 md:p-0 md:dark:hover:text-white dark:hover:bg-slate-700 md:dark:hover:bg-transparent;
}
.active-test-type {
  @apply font-bold text-sky-700 dark:text-sky-400 hover:text-sky-700 dark:hover:!text-sky-400 cursor-pointer;
}
.inactive-test-type {
  @apply font-bold hover:text-orange-400 dark:hover:text-orange-400 cursor-pointer;
}
#nav-title {
  @apply self-center text-3xl font-semibold whitespace-nowrap text-green-700 bg-clip-text bg-[length:100px_500px] cursor-pointer mr-auto
}